html {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0;
    font-family: system-ui;
    scroll-behavior: smooth;
}

:root {
    --primary: #6244C5;
    --secondary: #FFC448;
    --light: #FAFAFB;
    --dark: #12141D;
}

.container {
    
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    gap: 10%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 

}


.highlight {
    color: var(--dark);
}

.content {
    margin-top: 240px;
    padding: 20px;
}
.knowledge {
    padding: 20px;
}
h3 {
    font-size: 100px;
    color: var(--secondary);
}
p {
    font-size: 40px;
    color: var(--dark);
}

ul {
    list-style-type: square;
    font-size: 40px;
    color: var(--dark);
    padding-bottom: 20px;
}

h2 {
    font-size: 70px;
    color: var(--primary);
}

h1 {
    font-size: 70px;
    color: var(--dark);
}

.end {
    text-align: center;
    color: var(--dark);
    font-size: 50px;
}

h3 {
    view-timeline: --subject-reveal block;
    animation-timeline: --subject-reveal;
    animation-name: opacity;
    animation-range: entry 10% contain 25%;
    animation-fill-mode: ease-out;
    animation-duration: 3s;
}

@keyframes opacity {
    from {
        opacity: 0%;
        width: 0%;
    }
    to {
        opacity: 100%;
        width: 100%;
    }
}

@media (max-width: 522px) {
   .container {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 300px;
   }
   .header {
    display: flex;
    flex-direction: column;
    gap: 5%;
    position: absolute;
    width: 100%;
    height: 100%;
   }
}